@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@use './styles/_variables.scss' as *;
@use './styles/_fonts.scss' as *;

body {
    font-family: $app-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.primary {
        color: $primary-color;
    }

    &.secondary {
        color: $secondary-color;
    }

    &.primary-dark {
        color: $purple-light;
    }

    &.secondary-dark {
        color: $purple;
    }
}

.el-dialog__headerbtn {
    .el-dialog__close {
        color: #000000 !important;

        &:hover {
            color: $primary-color !important;
        }
    }
}

html.dark {
    .el-dialog__headerbtn {
        .el-dialog__close {
            color: #ffffff !important;

            &:hover {
                color: $purple !important;
            }
        }
    }
}
