parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Entity/*
        - src/Repository/*
        - tests
        - vendor
    ignoreErrors:
        -'#Method [a-zA-Z0-9\\_]+Manager::getPaginated[a-zA-Z0-9]+\(\) return type has no value type specified in iterable type#'
        - identifier: missingType.generics
